global:
  domain: argocd.orleans.g.recouvreux.fr
  addPrometheusAnnotations: true

server:
  service:
    type: ClusterIP

  ingress:
    enabled: true
    controller: generic
    hostname: argocd.orleans.g.recouvreux.fr

configs:
  clusterCredentials:
    in-cluster:
      name: orleans
      server: https://kubernetes.default.svc
      labels:
        env: lab
        cluster-name: orleans
      config:
        tlsClientConfig:
          insecure: false

  params:
    server.insecure: true
    controller.resource.health.persist: true

  cm:
    resource.customizations.health.operator.victoriametrics.com_VMSingle: |
      hs = {}
      if obj.status ~= nil and obj.status.singleStatus == "operational" then
        hs.status = "Healthy"
        hs.message = "VMSingle is operational"
      else
        hs.status = "Progressing"
        hs.message = "Waiting for VMSingle"
      end
      return hs
    resource.customizations.health.operator.victoriametrics.com_VMAgent: |
      hs = {}
      if obj.status ~= nil and obj.status.updateStatus == "operational" then
        hs.status = "Healthy"
        hs.message = "VMAgent is operational"
      else
        hs.status = "Progressing"
        hs.message = "Waiting for VMAgent"
      end
      return hs
    resource.customizations.health.operator.victoriametrics.com_VMAlert: |
      hs = {}
      if obj.status ~= nil and obj.status.updateStatus == "operational" then
        hs.status = "Healthy"
        hs.message = "VMAlert is operational"
      else
        hs.status = "Progressing"
        hs.message = "Waiting for VMAlert"
      end
      return hs
    resource.customizations.health.operator.victoriametrics.com_VMRule: |
      hs = {}
      hs.status = "Healthy"
      return hs
    resource.customizations.health.operator.victoriametrics.com_VMServiceScrape: |
      hs = {}
      hs.status = "Healthy"
      return hs
    resource.customizations.health.operator.victoriametrics.com_VMNodeScrape: |
      hs = {}
      hs.status = "Healthy"
      return hs
  repositories:
    infra-gitops:
      url: https://github.com/Gilk260/infra-gitops
      type: git
      githubAppID: "2864423"
      githubAppInstallationID: "110100546"
      name: infra-gitops
