global:
  domain: argocd.orleans.g.recouvreux.fr
  addPrometheusAnnotations: true

server:
  service:
    type: ClusterIP

  ingress:
    enabled: true
    controller: generic
    ingressClassName: traefik
    hostname: argocd.orleans.g.recouvreux.fr

configs:
  clusterCredentials:
    in-cluster:
      name: orleans
      server: https://kubernetes.default.svc
      labels:
        env: lab
        cluster-name: orleans
      config:
        tlsClientConfig:
          insecure: false

  params:
    server.insecure: true
  repositories:
    infra-gitops:
      url: https://github.com/Gilk260/infra-gitops
      type: git
      githubAppID: "2864423"
      githubAppInstallationID: "110100546"
      name: infra-gitops
